{% extends 'base.html.twig' %}

{% block title %}Calendrier des évenements{% endblock %}

{% block body %}
    {# afficher l'année si et seulement si elle est différente de la précédente
mettre l'année précendente dans une variable
    afficher l'année


    #}




    <div class="container-fluid mt-4">
    <h1 class="text-center">{{ 'Calendrier des événements'|trans }}</h1>

    {% for event in pagination %}

        <div class="card mb-0 col-12 offset-md-2 col-md-8 g-0 mb-md-4 shadow">
            <div class="row g-0">
                {% set previous_year = event.date|date('Y') - 1 %}
                {% if event.date|date('Y') != previous_year %}
                    <h2 class="text-lg-start text-center text-primary text-capitalize card-header">{{ event.date|date('Y') }}</h2>
                {% endif %}
                <div class="col-md-3 bg-primary d-flex flex-column justify-content-center">
                    <h3 class="card-text text-light text-center">{{ event.date|format_date('full', locale=app.request.locale) }}</h3>
                </div>
                <div class="col-md-3 ">
                    <img src="{{ event.poster }}" class="img-fluid rounded-start" alt="{{ event.alt }}">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-around">
                    <div>
                        <div class="d-flex justify-content-between mt-lg-2 mx-lg-2">
                            <h5 class="card-title">{{ event.date|format_time('short', locale=app.request.locale) }} </h5>
                            <h5 class="card-title">{{ event.title|trans }}</h5>
                            <h5>{{ 'Durée'|trans }}
                                : {{ event.duration }} minutes.
                            </h5>
                        </div>

                    </div>

                    <p class="card-text px-lg-2">{{ event.text }}</p>
                </div>


            </div>
        </div>
        </div>

    {% endfor %}

    {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}
