{% extends 'base.html.twig' %}

{% block title %}Calendrier des évenements{% endblock %}

{% block body %}

    <div class="container-fluid mt-4">
    <h1 class="text-center text-uppercase">{{ 'concerts et spectacles'|trans }}</h1>
    {% set previous_year = '' %}
    {% set previous_month = '' %}

    {% for event in pagination %}
        <article class="card mb-0 col-12 offset-md-2 col-md-8 g-0 mb-md-4 shadow">
            <div class="row g-0">
                {% if event.date|date('Y') != previous_year or event.date|date('F') != previous_month %}
                    <div class="card-header d-flex justify-content-center">
                        <h2 class="text-primary text-uppercase me-3">{{ event.date|date('F')|format_date('medium', locale=app.request.locale, pattern="MMMM") }}</h2>
                        <h2 class="text-primary text-capitalize"> {{ event.date|date('Y') }}</h2>
                    </div>
                {% endif %}
                <div class="col-md-3 bg-primary d-flex flex-column justify-content-center">
                    <h3 class="card-text text-light text-center">{{ event.date|format_date('full', locale=app.request.locale) }}</h3>
                </div>
                <div class="col-md-3 ">
                    <img src="{{ event.poster }}" class="img-fluid rounded-start" alt="{{ event.alt }}">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-around">
                    <div>
                        <div class="d-flex justify-content-between mt-lg-2 mx-lg-2">
                            <h5 class="card-title">{{ event.date|format_time('short', locale=app.request.locale) }} </h5>
                            <h5 class="card-title">{{ event.title|trans }}</h5>
                            <h5>{{ 'Durée'|trans }}
                                : {{ event.duration }} minutes.
                            </h5>
                        </div>
                    </div>
                    <p class="card-text px-lg-2">{{ event.text }}</p>
                </div>
            </div>
        </article>
        </div>
        {% set previous_year = event.date|date('Y') %}
        {% set previous_month = event.date|date('F') %}
    {% endfor %}

    {{ knp_pagination_render(pagination) }}


{% endblock %}
