{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<main>
		<section class="container">
			<img class="img-fluid image-home mb-3" src="{{ content.poster }}" alt="{{ content.alt }}">
			<h1 class="d-flex justify-content-center mb-4">{{ content.title }}</h1>
			<p class="fs-4">
				{{ content.body }}
			</p>
		</section>
		<section class="container">
			<div class="row">
				{# {% set links = [
                    {'title': 'Blog', 'path': 'article_index'},
                    {'title': 'Association', 'path': 'association_index'},
                    {'title': 'Sites amis', 'path': 'friendLink_index'},
                    ] %}
				{% for link in links %}
					<div class="col-md-4">
						<a href="{{ path(link.path) }}" class="btn btn-primary shadow d-block mb-2 p-lg-5 p-2 p-md-4 fs-lg-2 fs-4 text-uppercase">
							{{ link.title|trans }}
						</a>
					</div>
				{% endfor %} #}
				<div class="col-md-4">
				<a href="{{ path('article_index') }}" class="btn btn-primary shadow d-block mb-2 p-lg-5 p-2 p-md-4 fs-lg-2 fs-4 text-uppercase">
					{{ 'Blog'|trans }}
				</a>
				</div>
				<div class="col-md-4">
				<a href="{{ path('association_index') }}" class="btn btn-primary shadow d-block mb-2 p-lg-5 p-2 p-md-4 fs-lg-2 fs-4 text-uppercase">
					{{ 'Association'|trans }}
				</a>
				</div>
				<div class="col-md-4">
				<a href="{{ path('friendLink_index') }}" class="btn btn-primary shadow d-block mb-2 p-lg-5 p-2 p-md-4 fs-lg-2 fs-4 text-uppercase">
					{{ 'Sites amis'|trans }}
				</a>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
