<nav class="navbar p-3 navbar-light navbar-expand-lg bg-secondary fixed-top">
    <div class="container"><a class="navbar-brand logo ms-lg-0" href="{{ path('home') }}">Maguelone</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% set links = [
                    {'title': 'Blog', 'path': 'article_index'},
                    {'title': 'Association', 'path': 'association_index'},
                    {'title': 'Calendrier', 'path': 'event_index'},
                    {'title': 'Artistes', 'path': 'artist_index'},
                    {'title': 'Sites amis', 'path': 'friendLink_index'},
                    ] %}
                {% for link in links %}
                <li class="nav-item mx-4 my-auto">
                    <a class="nav-link text-decoration-none hover" href="{{ path(link.path) }}">{{ link.title }}</a></li>
                {% endfor %}
                {% set flags = [
                    {"alias": 'Français', 'url': 'https://flagcdn.com/h40/fr.jpg'},
                    {"alias": 'Allemand', 'url': 'https://flagcdn.com/h40/de.jpg'},
                    {"alias": 'Russe', 'url': 'https://flagcdn.com/h40/ru.jpg'},
                    {"alias": 'Japonais', 'url': 'https://flagcdn.com/h40/jp.jpg'},
                    {"alias": 'Anglais', 'url': 'https://flagcdn.com/h40/gb.jpg'},
                ] %}
                <li class="nav-item mx-2 ms-lg-4 dropdown">
                    <button class="btn btn-primary btn-lg border rounded-circle dropdown-toggle" type="button" id="translationAvailable" data-bs-toggle="dropdown"
                            aria-expanded="false">Choisir la langue</button>
                    <ul class="dropdown-menu" aria-labelledby="translationAvailable">
                        {% for flag in flags|sort %}
                            <li class="dropdown-item">
                                <img src="{{ flag.url }}" alt="{{ flag.alias }}">
                                {{ flag.alias }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
