{% extends 'admin/base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">{{ 'Édition de l\'article'|trans }}</h1>
    <div class="col-md-4 ">
        <img src="{{ article.poster }}" class="card-img img-fluid" alt="...">
      </div>
      <a href="{{ path('admin_article_index') }}">{{ 'Revenir à la liste des articles'|trans }}</a>

    {{ include('admin/article/_form.html.twig', {
        'button_save_label': 'Publier'|trans,
     }) }}


{% endblock %}
