{% extends 'admin/base.html.twig' %}


{% block title %}Admin : tous les articles{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center">Admin : tous les articles</h1>
<div class="container-fluid my-2 my-lg-5">
    <div class="row d-flex flex-lg-row justify-content-lg-evenly justify-content-center">
      <div class="btn-group col-12 col-lg-3 mb-4 mb-lg-0">
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-bs-display="static" data-bs-toggle="dropdown">{{ 'CATEGORIES'|trans }}</button>
        <div class="dropdown-menu dropdown-menu-lg-end" >
            <a href="#" class="dropdown-item">tétralogie</a>
            <a href="#" class="dropdown-item">Sainte barbe</a>
        </div>
    </div>
    </div>
  </div>
{# <a href="{{ path('admin_article_category_edit', {'id': article_category.id}) }}" class="btn btn-primary">{{ 'MODIFIER'|trans }}</a>
 #}

{% for article in articles %}
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-9 col-12">
      <div class="card mb-3 shadow-lg">
        <div class="row no-gutters">
          <div class="col-md-4 mx-auto">
            <img src="{{ article.poster }}" class="card-img img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex flex-column flex-lg-row justify-content-start">
                <h5 class="card-title me-auto">{{ 'Article écrit le'|trans }} : {{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</h5>
                <strong class="mx-lg-auto">{{ 'Temps de lecture'|trans }} : {{ article.duration }} minutes</strong>
                <h5 class="ms-lg-auto">{{ 'Catégorie'|trans }} : {{ article.category.name }}</h5>
              </div>
          <h3 class="mb-0">{{ article.title }}</h3>
              <p class="card-text">{{ article.body }}</p>
              <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-primary">{{ 'MODIFIER'|trans }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endfor %}

{% endblock %}
