{% extends 'admin/base.html.twig' %}

<<<<<<< HEAD
{% block title %}Nouvel Article{% endblock %}
=======
{% block title %}{{ 'Nouvel Article'|trans }}{% endblock %}
>>>>>>> 93a450afd20e899126e9b2c3ec77f2439969b983

{% block body %}
    <div>
    <h1 class="d-flex justify-content-center">{{ 'Création d\'un nouvel article'|trans }}</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a href="{{ path('admin_article_index') }}">{{ 'Revenir à la liste des articles'|trans }}</a>
    </div>
{% endblock %}
