
	{{ form_start(form) }}
<div class="mb-4">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success d-block w-100">{{ button_save_label|default('Publier') }}
	</button>
</div>
{{ form_end(form) }}
