{{ form_start(form) }}
<div class="form-group position-relative pb-5 d-flex flex-column mb-3 offset-1 col-12 col-md-10 ">
    {{ form_row(form.name) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.alt) }}
    {{ form_row(form.video) }}
    {{ form_row(form.audio) }}
    {{ form_row(form.company.name) }}
    {{ form_row(form.company.date) }}
    {{ form_row(form.study.name) }}
    {{ form_row(form.study.date) }}
    {{ form_row(form.reward.name) }}
    {{ form_row(form.reward.date) }}
    {{ form_row(form.repository) }}
    {{ form_row(form.nationality) }}
    {{ form_row(form.body) }}
    {{ form_row(form.instruments) }}
    <button class="btn btn-danger position-absolute bottom-0 end-0 border">{{ button_delete_label|default('Supprimer') }}</button>
    <button class="btn row btn-primary bottom-0 border">{{ button_save_label|default('Publier') }} </button>
    </div> 

{{ form_end(form) }}
