{% extends 'base.html.twig' %}

{% block title %}Catégory index{% endblock %}

{% block body %}
    <h1>{{ 'Toutes les catégories d\'articles'|trans }}</h1>

    <table class="table">
        
        <tbody>
        {% for article_category in activities %}
           
                {{ article_category.name }}
                
                    <a href="{{ path('article_category_show', {'id': article_category.id}) }}">{{ 'Consulter la catégorie d\'articles'|trans }}</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'Aucune catégories d\'articles'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
