{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ 'Article'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="col-3">{{ 'Titre'|trans }}</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>{{ 'Catégorie'|trans }}</th>
                <td>{{ article.category.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Descriptif'|trans }}</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>{{ 'Photo (click-droit: copier l\'adresse de l\'image)'|trans }}</th>
                <td>{{ article.poster }}</td>
            </tr>
            <tr>
                <th>{{ 'Créé le'|trans }}</th>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Temps de lecture (en chiffre)'|trans }}</th>
                <td>{{ article.duration }}min</td>
            </tr>
            <tr>
                <th>{{ 'Texte alternatif à l\'image'|trans }}</th>
                <td>{{ article.alt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">{{ 'Retour à la liste d\'articles'|trans }}</a>

{% endblock %}
