{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr> #}
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            {# <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr> #}
            <tr>
                <th>Catégorie</th>
                <td>{{ article.category.name }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.poster }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Temps de lecture</th>
                <td>{{ article.duration }}</td>
            </tr>
            <tr>
                <th>Texte alternatif à l'image</th>
                <td>{{ article.alt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">Retour à la liste d'articles</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
